@use '../../foundation' as *;

.home {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: $space-9 $space-3 $space-5;
    border-bottom: solid 1px $special-300;

    @include md {
        padding: 300px $space-8 $space-9;
    }

    .container {
        @include md {
            margin: 0 auto 0 0;
        }
    }

    &__wrapper {
        @include md {
            display: flex;
            flex-direction: column;
            margin-right: auto;
            gap: $space-3;
        }

    }

    &__intro {
        color: $gray-300;
        text-transform: uppercase;
        letter-spacing: $font-wider;
    }

    &__title {
        font-family: $ibm;
        font-size: $font-lg;
        line-height: 100%;
        color: $main-white;

        @include md {
            font-size: $font-super;
            width: 85%;
        }

    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $space-2;

        @include md {
            flex-direction: row;
        }
    }
}