.home {
    padding: 0 $space-2;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $space-6;
        justify-content: space-between;
    }

    &__title {
        font-size: $font-lg;
        font-family: 'Playfair Display', serif;
        margin-bottom: $space-2;
        text-align: center;

        @include md {
            font-size: $font-xl;
        }
    }

    &__subtitle {
        font-size: $font-bigger;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: $space-3;
        letter-spacing: $font-xwide;
    }

    &__ctas {
        display: flex;
        gap: $space-2;

        @include md {
            gap: $space-4;
        }
    }
}