@use '../../foundation' as *;

.section {
    &-main {
        padding: $space-5 $space-3;
        border-bottom: solid $size-min $special-800;
        box-shadow: 0 0 $size-6 rgba($color: $special-800, $alpha: 0.2);

        @include md {
            padding: $space-8 $space-8;
        }
    }

    &--black {
        background-color: $main-dark;
    }

    &--white {
        background-color: $main-white;
    }

    &--gray-dark {
        background-color: $gray-700;
    }
}