@use '../../foundation' as *;

.section {
    &-main {
        padding: $space-7 $space-2;
        border-bottom: solid $size-min $special-800;
        box-shadow: 0 0 $size-6 rgba($color: $special-800, $alpha: 0.2);

        @include md {
            padding: $space-8 $space-8;
        }
    }

    &--black {
        background-color: $main-dark;
    }

    &--white {
        background-color: $main-white;
    }

    &--gray-dark {
        background-color: $gray-700;
        opacity: 1;
        background-image: repeating-linear-gradient(to right, transparent 0, transparent 1.6666666666666667px, $gray-700 1.6666666666666667px, $gray-700 5px, transparent 5px, transparent 6.666666666666667px), repeating-linear-gradient(to bottom, transparent 0, transparent 1.6666666666666667px, $gray-700 1.6666666666666667px, $gray-700 5px, transparent 5px, transparent 6.666666666666667px), linear-gradient(to bottom, #233000 0.6px, transparent 0.6px), linear-gradient(to right, #233000 0.6px, transparent 0.6px);
        background-size: 100% 100%, 100% 100%, 80px 80px, 80px 80px;
        background-position: 0 0, 0 0, 0 -0.2px, -0.2px 0;
    }
}