@use '../../foundation' as *;

.section {
    &-main {
        padding: $space-5 $space-3;
        border-bottom: solid 1px $special-100;

        @include md {
            padding: $space-6 $space-8;
        }
    }

    &--black {
        background-color: $main-dark;
    }

    &--white {
        background-color: $main-white;
    }

    &--gray {
        background-color: $gray-300;
    }

    &--gray-light {
        background-color: $gray-100;
    }
}