@use '../../foundation' as *;

.projects {
    &__text {
        color: $gray-300;

        @include lg {
            width: 50%;
            border-right: solid $size-1 $main-dark;
            padding-right: $space-6;
        }
    }

    p {
        @include lg {
            font-size: $font-bigger;
            line-height: 150%;
        }
    }

    &--code {
        @include lg {
            display: flex;
            flex-direction: row;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;

        @include lg {
            padding-left: $space-4;
            width: 50%;
            grid-template-columns: repeat(2, 1fr);
            gap: $space-4 0;
        }
    }

    &__item {
        height: fit-content;
        padding: $space-2 $space-4;
        border-bottom: $size-1 solid $special-800;
        height: 100%s;
        min-height: $size-lg;
        color: $gray-300;

        &:nth-child(odd) {
            border-right: $size-1 solid $special-800;
        }

        &__title {
            text-transform: uppercase;
            font-family: $ibm;
            font-size: $font-bigger;
        }
    }

    &--design {

        @include md {
            margin-top: $space-8 !important;
        }

        p {
            text-align: right;
            width: 50%;
            margin-left: auto;
            color: $gray-300;
        }

    }

    &__cards {
        display: flex;
        flex-direction: column;
        margin: $space-3 0;

        @include md {
            flex-direction: row;
            margin: $space-6 0 $space-5;
            gap: $space-3;
        }
    }

    .button {
        margin: 0 auto;
        display: block;
    }
}