.section--black {
    background-color: $main-dark;
}

.section--white {
    background-color: $main-white;
}

.section--gray {
    background-color: $gray-300;
}

.section--gray-light {
    background-color: $gray-100;
}