@use '../../global' as *;

.section-main {
    padding: $space-3 $space-2;

    @include md {
        padding: $space-8;
    }
}

.section--black {
    background-color: $main-dark;
}

.section--white {
    background-color: $main-white;
}

.section--gray {
    background-color: $gray-300;
}

.section--gray-light {
    background-color: $gray-100;
}

//Basics
.button {
    padding: $space-1 $space-2;
    text-transform: uppercase;

    @include md {
        padding: $space-2 $space-6;
        transition: ease-in-out 1s all;
    }

    &--black {
        background-color: $main-dark;
        color: $main-white;


        &:hover {
            background-color: $gray-700;
        }
    }

    &--white {
        background-color: $main-white;
        color: $main-dark;
        border: solid 1px $main-dark;

        &:hover {
            background-color: $gray-100;
        }
    }
}

//Navigation links
.navlink {
    text-transform: uppercase;
    font-size: $font-base;
    color: $gray-500;
    letter-spacing: 2px;
    transition: ease-in-out 0.5s all;

    &:hover {
        color: $special-500;
        letter-spacing: 3px;
    }
}

//Titles 
.title-h2 {
    font-family: 'Playfair Display', serif;
    font-size: $font-lg;

    &--white {
        color: $main-white;
    }

    &--black {
        color: $gray-500;
    }
}

//Pagination 
.pagination {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    &--active {
        background-color: $main-dark;
    }

    &--basic {
        background-color: $main-white;
        border: solid 1px $main-dark;
    }
}