@import '../../components/experience-items/styles.scss';

.experience {
    padding-top: 0;

    &__container {
        display: flex;
        flex-direction: column;

        @include md {
            flex-direction: row;
        }
    }

    &__description {
        color: $main-white;
        font-size: $font-bigger;
        margin-top: $space-2;

        @include md {
            padding-right: $space-8;
        }
    }

    &__cta {
        color: $gray-100;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: $space-5;
        display: block;
    }

    &__content,
    &__items {
        flex: 1,
    }

    &__categories {
        color: $main-white;
        display: flex;
        gap: $space-2;
        list-style: none;
        margin-bottom: $space-2;

        li {
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__items__list {
        display: flex;
        flex-direction: column;
        gap: $space-3;
    }

    &__item {
        color: $main-white
    }

    &__cta {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            background: url(/images/ui/_arrow.webp);
            background-size: contain;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-left: $space-1;
            padding-top: $space-1;
            filter: invert(1);
        }
    }
}