@use '../../foundation' as *;

.footer {
    background-color: $main-dark;
    width: 100%;
    padding: $space-2 $space-3;
    display: flex;

    @include md {
        padding: $space-2 $space-5;
    }

    &__links {
        @include flex-row;
        width: 100%;
        justify-content: flex-end;
        gap: $space-1;
    }

    &__copyright {
        color: $gray-400;
        font-size: $font-small;
        padding-top: $space-1;
        width: 100%;
        text-transform: uppercase;

        p {
            font-family: $ibm;
        }
    }

    &__icon img {
        width: $size-6;
        height: $size-6;
        filter: invert(1);

        &:hover {
            filter: invert(0.8);
        }
    }
}