@use './foundation' as *;
@use './components' as *;
@use './sections' as *;

html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    font-family: $lato;
}

.container {
    @include md {
        max-width: 1200px;
    }
}

section {
    padding: $space-5 $space-3;
    border-bottom: solid 1px $special-100;

    @include md {
        padding: $space-6 $space-8;
    }
}