@use './foundation' as *;
@use './components' as *;
@use './sections' as *;

html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    font-family: $lato;
}

.container {
    @include md {
        max-width: 1200px;
    }
}