@use '../../foundation' as *;

h1.title-h1 {
    font-size: $font-lg;
    font-family: $ibm;
    font-weight: 400;
    margin-bottom: $space-2;
    line-height: 100%;
    text-align: center;

    @include md {
        font-size: $font-2xl;
        color: $main-white;
        text-align: left;
    }
}

.title-h2 {
    font-family: $space;
    font-size: $font-lg;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: $space-2;
    position: relative;
    border-bottom: solid $size-1 $main-white;
    padding-bottom: $space-1;
    width: fit-content;

    @include md {
        font-size: $font-lg;
        margin-bottom: $space-3;
    }

    &--white {
        color: $main-white;
    }

    &--black {
        color: $gray-800;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;

        &::before {
            right: 0;
            left: auto;
        }
    }

    &::before {
        counter-increment: titles;
        content: "0" counter(titles);
        position: absolute;
        top: -$space-6;
        left: 0;
        color: $special-800;
        font-size: $font-base;
    }
}