@use '../../foundation' as *;

.title-h1 {
    font-size: $font-lg;
    font-family: $playfair;
    font-weight: 300;
    margin-bottom: $space-2;

    @include md {
        font-size: $font-xl;
    }
}

.title-h2 {
    font-family: 'Playfair Display', serif;
    font-size: $font-lg;
    font-weight: 300;

    &--white {
        color: $main-white;
    }

    &--black {
        color: $gray-500;
    }
}