@use '../../foundation' as *;

h1.title-h1 {
    font-size: $font-lg;
    text-transform: uppercase;
    font-family: $archivo;
    font-weight: 400;
    margin-bottom: $space-2;
    line-height: 100%;
    text-align: center;

    @include md {
        font-size: $font-super;
        text-align: left;
    }
}

.title-h2 {
    font-family: $archivo;
    font-size: $font-lg;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: $space-2;

    @include md {
        font-size: $font-super;
        margin-bottom: $space-3;
    }

    &--white {
        color: $main-white;
    }

    &--black {
        color: $gray-800;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}