.contact {
    &__wrapper {
        margin-bottom: $space-4;

        @include md {
            margin-bottom: 0;
        }
    }

    &__description {
        font-size: $font-base;
        letter-spacing: 1px;
        padding: $space-4 0;

        @include md {
            width: 50%;
        }
    }

    &__link {
        font-size: $font-base;
        letter-spacing: 1px;
        font-weight: 300;

        &--bold {
            font-weight: 400;
        }
    }
}