@use '../../foundation' as *;

.intro {
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-1;

        &__image {
            max-width: $size-md;

            @include md {
                max-width: $size-lg;
            }
        }

        &__description {
            text-align: center;
        }
    }
}