.about {
    display: flex;
    flex-direction: column;

    @include md {
        flex-direction: row;
    }

    &__container {
        @include md {
            width: 50%;
        }
    }

    &__intro,
    &__description,
    &__languages {
        color: $main-white;
        font-size: $font-bigger;
        margin-bottom: $space-2;
        letter-spacing: $font-wider;
    }

    &__intro {
        margin-top: $space-3;
    }

    &__languages {
        &-item {
            margin-right: $space-1;
        }
    }
}