.projects {

    &__description {
        &:hover {
            animation: lift 1s ease-in-out forwards;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;

            @include lg {
                border: solid 1px $gray-500;
                padding: $space-3;
                height: 100%;
                min-height: 480px;
            }
        }

        &__info {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: $space-1 0 $space-2;
        }

        &__dates {
            color: $gray-500;
            text-transform: uppercase;
            letter-spacing: $font-wider;
            font-size: $font-base;
            max-width: 160px;
        }

        &__work {
            padding: $space-1 $space-2;
            text-transform: uppercase;
            border-radius: $space-3;
            font-size: $font-small;

            &--work {
                background-color: $gray-500;
                color: $main-white;
            }

            &--personal {
                background-color: $gray-300;
                color: $main-dark;
            }
        }

        .button {
            padding: $space-1 $space-4;
            margin: 0 !important;
            margin-top: auto !important;
        }

        &__links {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: $space-2;
            justify-content: flex-start;
            margin-top: auto;
        }

        &__text {
            font-family: 'Lato', sans-serif;
            color: $gray-500;
            letter-spacing: $font-wider;
            font-weight: 300;
            line-height: $space-3;
            padding: $space-2 0;

            @include lg {
                width: 95%;
            }
        }

        &__stack {
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            gap: $space-1;
            margin-bottom: $space-1;
        }
    }

    &__hidden {
        opacity: 0;
        height: 0;
    }

    .visible {
        opacity: 1;
        height: auto;
    }
}